// widget
.widget {
    background: $light_blue;
    margin-bottom: $xl_size;
    
    &__message {
        border-bottom: 1px solid lighten($light_blue, 10%);
        color: $off_white;
        margin: 0;
        padding: $l_size;
        text-align: center;
    }
}

// widget header
.widget_header {
    background: $blue;
    color: $off_white;
    display: flex;
    justify-content: space-between;
    padding: $m_size;
    
    &__h3 {
        margin: 0;
    }
}
