.header {
    background: $off_black;
    color: white;
    margin-bottom: $m_size;
    padding: $m_size 0;
    
    &__title {
        font-size: $l_size;
        margin: 0;
    }
    
    &__subtitle {
        color: $off_white;
        font-size: $m_size;
        font-weight: 300;
        margin: 0;
    }
}

@media (min-width: $desktop_breakpoint) {
    .header {
        margin: 0 0 $xl_size 0;
    }
}
